openapi: 3.0.3
info:
  contact:
    email: support@capenetworks.com
    name: HPE Aruba Networking UXI Support
    url: https://help.capenetworks.com/en/
  description: This document outlines the API contracts for HPE Aruba Networking UXI.
  title: HPE Aruba Networking UXI Configuration
  version: 5.19.0
servers:
- url: https://api.capenetworks.com
tags:
- name: api
- name: v1
- name: v1alpha1
- name: configuration
- name: agents
- name: agent-group-assignments
- name: groups
- name: health
- name: network-group-assignments
- name: sensors
- name: sensor-group-assignments
- name: service-tests
- name: service-test-group-assignments
- name: wired-networks
- name: wireless-networks
paths:
  /networking-uxi/v1alpha1/agents/{agent_uid}:
    delete:
      description: Delete an existing agent.
      operationId: agent_delete
      parameters:
      - explode: false
        in: path
        name: agent_uid
        required: true
        schema:
          title: Agent Uid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "204":
          description: No Content
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Agent Delete
      tags:
      - configuration
    patch:
      description: Update an existing agent.
      operationId: agent_patch
      parameters:
      - explode: false
        in: path
        name: agent_uid
        required: true
        schema:
          title: Agent Uid
          type: string
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/AgentPatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPatchResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Agent Patch
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/agent-group-assignments/{uid}:
    delete:
      description: Delete an agent group assignment.
      operationId: agent_group_assignment_delete
      parameters:
      - explode: false
        in: path
        name: uid
        required: true
        schema:
          title: Uid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "204":
          description: No Content
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Agent Group Assignment Delete
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/agent-group-assignments:
    get:
      description: Get a list of agent group assignments
      operationId: agent_group_assignments_get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: next
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentGroupAssignmentsGetResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Agent Group Assignments Get
      tags:
      - configuration
      x-stability-level: alpha
    post:
      description: Create agent group assignment
      operationId: agent_group_assignment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentGroupAssignmentPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentGroupAssignmentPostResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Agent Group Assignment Post
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/agents:
    get:
      description: Get a list of agents
      operationId: agents_get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: next
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentsGetResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Agents Get
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/groups/{group_uid}:
    delete:
      description: Delete an existing group.
      operationId: group_delete
      parameters:
      - explode: false
        in: path
        name: group_uid
        required: true
        schema:
          title: Group Uid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "204":
          description: No Content
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Group Delete
      tags:
      - configuration
      x-stability-level: alpha
    patch:
      description: Update an existing group.
      operationId: group_patch
      parameters:
      - explode: false
        in: path
        name: group_uid
        required: true
        schema:
          title: Group Uid
          type: string
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/GroupPatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupPatchResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Group Patch
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/groups:
    get:
      description: Lists groups matching provided criteria
      operationId: groups_get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: next
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsGetResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Groups Get
      tags:
      - configuration
      x-stability-level: alpha
    post:
      description: Create a new group with the group identified in `parentId` as its
        parent
      operationId: group_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupPostResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Group Post
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/network-group-assignments/{id}:
    delete:
      description: Delete a network group assignment
      operationId: network_group_assignment_delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "204":
          description: No Content
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Network Group Assignment Delete
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/network-group-assignments:
    get:
      description: Get a list of network group assignments
      operationId: network_group_assignments_get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: next
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGroupAssignmentsGetResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Network Group Assignments Get
      tags:
      - configuration
      x-stability-level: alpha
    post:
      description: Create a network group assignment
      operationId: network_group_assignment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkGroupAssignmentPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGroupAssignmentPostResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Network Group Assignment Post
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/sensor-group-assignments/{id}:
    delete:
      description: Delete a sensor group assignment
      operationId: sensor_group_assignment_delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "204":
          description: No Content
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Sensor Group Assignment Delete
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/sensor-group-assignments:
    get:
      description: Get a list of sensor group assignments
      operationId: sensor_group_assignments_get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: next
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorGroupAssignmentsGetResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Sensor Group Assignments Get
      tags:
      - configuration
      x-stability-level: alpha
    post:
      description: Create sensor group assignment
      operationId: sensor_group_assignment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SensorGroupAssignmentPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorGroupAssignmentPostResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Sensor Group Assignment Post
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/sensors/{sensor_uid}:
    patch:
      description: Update an existing sensor.
      operationId: sensor_patch
      parameters:
      - explode: false
        in: path
        name: sensor_uid
        required: true
        schema:
          title: Sensor Uid
          type: string
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/SensorPatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorPatchResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Sensor Patch
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/sensors:
    get:
      description: Get a list of sensors
      operationId: sensors_get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: next
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorsGetResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Sensors Get
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/service-test-group-assignments/{id}:
    delete:
      description: Delete a service test group assignment
      operationId: service_test_group_assignment_delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "204":
          description: No Content
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Service Test Group Assignment Delete
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/service-test-group-assignments:
    get:
      description: Get a list of service test group assignments
      operationId: service_test_group_assignments_get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: next
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTestGroupAssignmentsGetResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Service Test Group Assignments Get
      tags:
      - configuration
      x-stability-level: alpha
    post:
      description: Create a service-test group assignment
      operationId: service_test_group_assignment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceTestGroupAssignmentPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTestGroupAssignmentPostResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Service Test Group Assignment Post
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/service-tests:
    get:
      description: Lists service-tests matching provided criteria
      operationId: service_tests_get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: next
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTestsGetResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Service Tests Get
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/wired-networks:
    get:
      description: Get a list of wired networks
      operationId: wired_networks_get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: next
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WiredNetworksGetResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Wired Networks Get
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/wireless-networks:
    get:
      description: Get a list of wireless networks
      operationId: wireless_networks_get
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: next
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WirelessNetworksGetResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Wireless Networks Get
      tags:
      - configuration
      x-stability-level: alpha
components:
  schemas:
    AgentGroupAssignmentPostAgent:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: AgentGroupAssignmentPostAgent
      type: object
    AgentGroupAssignmentPostGroup:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: AgentGroupAssignmentPostGroup
      type: object
    AgentGroupAssignmentPostRequest:
      example:
        agentId: agentId
        groupId: groupId
      properties:
        groupId:
          title: Groupid
          type: string
        agentId:
          title: Agentid
          type: string
      required:
      - agentId
      - groupId
      title: AgentGroupAssignmentPostRequest
      type: object
    AgentGroupAssignmentPostResponse:
      example:
        agent:
          id: id
        id: id
        type: networking-uxi/agent-group-assignment
        group:
          id: id
      properties:
        id:
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/AgentGroupAssignmentPostGroup'
        agent:
          $ref: '#/components/schemas/AgentGroupAssignmentPostAgent'
        type:
          enum:
          - networking-uxi/agent-group-assignment
          title: Type
          type: string
      required:
      - agent
      - group
      - id
      - type
      title: AgentGroupAssignmentPostResponse
      type: object
    AgentGroupAssignmentsGetAgent:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: AgentGroupAssignmentsGetAgent
      type: object
    AgentGroupAssignmentsGetGroup:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: AgentGroupAssignmentsGetGroup
      type: object
    AgentGroupAssignmentsGetItem:
      example:
        agent:
          id: id
        id: id
        type: networking-uxi/agent-group-assignment
        group:
          id: id
      properties:
        id:
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/AgentGroupAssignmentsGetGroup'
        agent:
          $ref: '#/components/schemas/AgentGroupAssignmentsGetAgent'
        type:
          enum:
          - networking-uxi/agent-group-assignment
          title: Type
          type: string
      required:
      - agent
      - group
      - id
      - type
      title: AgentGroupAssignmentsGetItem
      type: object
    AgentGroupAssignmentsGetResponse:
      example:
        next: next
        count: 0
        items:
        - agent:
            id: id
          id: id
          type: networking-uxi/agent-group-assignment
          group:
            id: id
        - agent:
            id: id
          id: id
          type: networking-uxi/agent-group-assignment
          group:
            id: id
      properties:
        items:
          items:
            $ref: '#/components/schemas/AgentGroupAssignmentsGetItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: AgentGroupAssignmentsGetResponse
      type: object
    AgentPatchRequest:
      description: Request body for patching an agent.
      properties:
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        notes:
          title: Notes
          type: string
        pcapMode:
          $ref: '#/components/schemas/AgentPcapMode'
      title: AgentPatchRequest
      type: object
    AgentPatchResponse:
      example:
        notes: notes
        pcapMode: light
        serial: serial
        ethernetMacAddress: ethernetMacAddress
        name: name
        modelNumber: modelNumber
        id: id
        type: networking-uxi/agent
        wifiMacAddress: wifiMacAddress
      properties:
        id:
          title: Id
          type: string
        serial:
          title: Serial
          type: string
        name:
          title: Name
          type: string
        modelNumber:
          nullable: true
          type: string
        wifiMacAddress:
          nullable: true
          type: string
        ethernetMacAddress:
          nullable: true
          type: string
        notes:
          nullable: true
          type: string
        pcapMode:
          $ref: '#/components/schemas/AgentPcapMode'
        type:
          enum:
          - networking-uxi/agent
          title: Type
          type: string
      required:
      - ethernetMacAddress
      - id
      - modelNumber
      - name
      - notes
      - pcapMode
      - serial
      - type
      - wifiMacAddress
      title: AgentPatchResponse
      type: object
    AgentPcapMode:
      enum:
      - light
      - full
      - "off"
      title: AgentPcapMode
      type: string
    AgentsGetItem:
      example:
        notes: notes
        pcapMode: light
        serial: serial
        ethernetMacAddress: ethernetMacAddress
        name: name
        modelNumber: modelNumber
        id: id
        type: networking-uxi/agent
        wifiMacAddress: wifiMacAddress
      properties:
        id:
          title: Id
          type: string
        serial:
          title: Serial
          type: string
        name:
          title: Name
          type: string
        modelNumber:
          nullable: true
          type: string
        wifiMacAddress:
          nullable: true
          type: string
        ethernetMacAddress:
          nullable: true
          type: string
        notes:
          nullable: true
          type: string
        pcapMode:
          $ref: '#/components/schemas/AgentPcapMode'
        type:
          enum:
          - networking-uxi/agent
          title: Type
          type: string
      required:
      - ethernetMacAddress
      - id
      - modelNumber
      - name
      - notes
      - pcapMode
      - serial
      - type
      - wifiMacAddress
      title: AgentsGetItem
      type: object
    AgentsGetResponse:
      example:
        next: next
        count: 0
        items:
        - notes: notes
          pcapMode: light
          serial: serial
          ethernetMacAddress: ethernetMacAddress
          name: name
          modelNumber: modelNumber
          id: id
          type: networking-uxi/agent
          wifiMacAddress: wifiMacAddress
        - notes: notes
          pcapMode: light
          serial: serial
          ethernetMacAddress: ethernetMacAddress
          name: name
          modelNumber: modelNumber
          id: id
          type: networking-uxi/agent
          wifiMacAddress: wifiMacAddress
      properties:
        items:
          items:
            $ref: '#/components/schemas/AgentsGetItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: AgentsGetResponse
      type: object
    ErrorDetail:
      example:
        type: type
        issues:
        - subject: field
          description: description
          source: source
        - subject: field
          description: description
          source: source
      properties:
        issues:
          items:
            $ref: '#/components/schemas/Issue'
          title: Issues
          type: array
        type:
          title: Type
          type: string
      required:
      - issues
      - type
      title: ErrorDetail
      type: object
    ErrorResponse:
      example:
        errorCode: errorCode
        debugId: debugId
        message: message
        httpStatusCode: 0
        errorDetails:
        - type: type
          issues:
          - subject: field
            description: description
            source: source
          - subject: field
            description: description
            source: source
        - type: type
          issues:
          - subject: field
            description: description
            source: source
          - subject: field
            description: description
            source: source
      properties:
        debugId:
          title: Debugid
          type: string
        errorCode:
          title: Errorcode
          type: string
        httpStatusCode:
          title: Httpstatuscode
          type: integer
        message:
          title: Message
          type: string
        errorDetails:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          nullable: true
          type: array
      required:
      - debugId
      - errorCode
      - httpStatusCode
      - message
      title: ErrorResponse
      type: object
    GroupPatchParent:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: GroupPatchParent
      type: object
    GroupPatchRequest:
      properties:
        name:
          minLength: 1
          title: Name
          type: string
      title: GroupPatchRequest
      type: object
    GroupPatchResponse:
      example:
        path: path
        parent:
          id: id
        name: name
        id: id
        type: networking-uxi/group
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        path:
          title: Path
          type: string
        parent:
          $ref: '#/components/schemas/GroupPatchParent'
        type:
          enum:
          - networking-uxi/group
          title: Type
          type: string
      required:
      - id
      - name
      - parent
      - path
      - type
      title: GroupPatchResponse
      type: object
    GroupPostParent:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: GroupPostParent
      type: object
    GroupPostRequest:
      example:
        name: name
        parentId: parentId
      properties:
        parentId:
          maxLength: 12
          minLength: 12
          nullable: true
          type: string
        name:
          title: Name
          type: string
      required:
      - name
      title: GroupPostRequest
      type: object
    GroupPostResponse:
      example:
        path: path
        parent:
          id: id
        name: name
        id: id
        type: networking-uxi/group
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        path:
          title: Path
          type: string
        parent:
          $ref: '#/components/schemas/GroupPostParent'
        type:
          enum:
          - networking-uxi/group
          title: Type
          type: string
      required:
      - id
      - name
      - parent
      - path
      - type
      title: GroupPostResponse
      type: object
    GroupsGetItem:
      example:
        parent:
          id: id
        path: path
        name: name
        id: id
        type: networking-uxi/group
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        parent:
          $ref: '#/components/schemas/GroupsGetParent'
        path:
          title: Path
          type: string
        type:
          enum:
          - networking-uxi/group
          title: Type
          type: string
      required:
      - id
      - name
      - parent
      - path
      - type
      title: GroupsGetItem
      type: object
    GroupsGetParent:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: GroupsGetParent
      type: object
    GroupsGetResponse:
      example:
        next: next
        count: 0
        items:
        - parent:
            id: id
          path: path
          name: name
          id: id
          type: networking-uxi/group
        - parent:
            id: id
          path: path
          name: name
          id: id
          type: networking-uxi/group
      properties:
        items:
          items:
            $ref: '#/components/schemas/GroupsGetItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: GroupsGetResponse
      type: object
    IpVersion:
      enum:
      - ipv4
      - ipv6
      title: IpVersion
      type: string
    Issue:
      example:
        subject: field
        description: description
        source: source
      properties:
        description:
          title: Description
          type: string
        subject:
          $ref: '#/components/schemas/IssueSubject'
        source:
          title: Source
          type: string
      required:
      - description
      - source
      - subject
      title: Issue
      type: object
    IssueSubject:
      enum:
      - field
      - header
      - query.parameter
      title: IssueSubject
      type: string
    NetworkGroupAssignmentPostGroup:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: NetworkGroupAssignmentPostGroup
      type: object
    NetworkGroupAssignmentPostNetwork:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: NetworkGroupAssignmentPostNetwork
      type: object
    NetworkGroupAssignmentPostRequest:
      example:
        groupId: groupId
        networkId: networkId
      properties:
        groupId:
          title: Groupid
          type: string
        networkId:
          title: Networkid
          type: string
      required:
      - groupId
      - networkId
      title: NetworkGroupAssignmentPostRequest
      type: object
    NetworkGroupAssignmentPostResponse:
      example:
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: networking-uxi/network-group-assignment
        group:
          id: id
        network:
          id: id
      properties:
        id:
          format: uuid
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/NetworkGroupAssignmentPostGroup'
        network:
          $ref: '#/components/schemas/NetworkGroupAssignmentPostNetwork'
        type:
          enum:
          - networking-uxi/network-group-assignment
          title: Type
          type: string
      required:
      - group
      - id
      - network
      - type
      title: NetworkGroupAssignmentPostResponse
      type: object
    NetworkGroupAssignmentsGetGroup:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: NetworkGroupAssignmentsGetGroup
      type: object
    NetworkGroupAssignmentsGetItem:
      example:
        id: id
        type: networking-uxi/network-group-assignment
        group:
          id: id
        network:
          id: id
      properties:
        id:
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/NetworkGroupAssignmentsGetGroup'
        network:
          $ref: '#/components/schemas/NetworkGroupAssignmentsGetNetwork'
        type:
          enum:
          - networking-uxi/network-group-assignment
          title: Type
          type: string
      required:
      - group
      - id
      - network
      - type
      title: NetworkGroupAssignmentsGetItem
      type: object
    NetworkGroupAssignmentsGetNetwork:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: NetworkGroupAssignmentsGetNetwork
      type: object
    NetworkGroupAssignmentsGetResponse:
      example:
        next: next
        count: 0
        items:
        - id: id
          type: networking-uxi/network-group-assignment
          group:
            id: id
          network:
            id: id
        - id: id
          type: networking-uxi/network-group-assignment
          group:
            id: id
          network:
            id: id
      properties:
        items:
          items:
            $ref: '#/components/schemas/NetworkGroupAssignmentsGetItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: NetworkGroupAssignmentsGetResponse
      type: object
    SensorGroupAssignmentPostGroup:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: SensorGroupAssignmentPostGroup
      type: object
    SensorGroupAssignmentPostRequest:
      example:
        groupId: groupId
        sensorId: sensorId
      properties:
        groupId:
          title: Groupid
          type: string
        sensorId:
          title: Sensorid
          type: string
      required:
      - groupId
      - sensorId
      title: SensorGroupAssignmentPostRequest
      type: object
    SensorGroupAssignmentPostResponse:
      example:
        sensor:
          id: id
        id: id
        type: networking-uxi/sensor-group-assignment
        group:
          id: id
      properties:
        id:
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/SensorGroupAssignmentPostGroup'
        sensor:
          $ref: '#/components/schemas/SensorGroupAssignmentPostSensor'
        type:
          enum:
          - networking-uxi/sensor-group-assignment
          title: Type
          type: string
      required:
      - group
      - id
      - sensor
      - type
      title: SensorGroupAssignmentPostResponse
      type: object
    SensorGroupAssignmentPostSensor:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: SensorGroupAssignmentPostSensor
      type: object
    SensorGroupAssignmentsGetGroup:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: SensorGroupAssignmentsGetGroup
      type: object
    SensorGroupAssignmentsGetItem:
      example:
        sensor:
          id: id
        id: id
        type: networking-uxi/sensor-group-assignment
        group:
          id: id
      properties:
        id:
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/SensorGroupAssignmentsGetGroup'
        sensor:
          $ref: '#/components/schemas/SensorGroupAssignmentsGetSensor'
        type:
          enum:
          - networking-uxi/sensor-group-assignment
          title: Type
          type: string
      required:
      - group
      - id
      - sensor
      - type
      title: SensorGroupAssignmentsGetItem
      type: object
    SensorGroupAssignmentsGetResponse:
      example:
        next: next
        count: 0
        items:
        - sensor:
            id: id
          id: id
          type: networking-uxi/sensor-group-assignment
          group:
            id: id
        - sensor:
            id: id
          id: id
          type: networking-uxi/sensor-group-assignment
          group:
            id: id
      properties:
        items:
          items:
            $ref: '#/components/schemas/SensorGroupAssignmentsGetItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: SensorGroupAssignmentsGetResponse
      type: object
    SensorGroupAssignmentsGetSensor:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: SensorGroupAssignmentsGetSensor
      type: object
    SensorPatchRequest:
      description: Request body for patching a sensor.
      properties:
        name:
          maxLength: 100
          minLength: 1
          title: Name
          type: string
        addressNote:
          title: Addressnote
          type: string
        notes:
          title: Notes
          type: string
        pcapMode:
          $ref: '#/components/schemas/SensorPcapMode'
      title: SensorPatchRequest
      type: object
    SensorPatchResponse:
      example:
        addressNote: addressNote
        notes: notes
        pcapMode: light
        serial: serial
        ethernetMacAddress: ethernetMacAddress
        latitude: 6.027456183070403
        name: name
        modelNumber: modelNumber
        id: id
        type: networking-uxi/sensor
        wifiMacAddress: wifiMacAddress
        longitude: 0.8008281904610115
      properties:
        id:
          title: Id
          type: string
        serial:
          title: Serial
          type: string
        name:
          title: Name
          type: string
        modelNumber:
          title: Modelnumber
          type: string
        wifiMacAddress:
          nullable: true
          type: string
        ethernetMacAddress:
          nullable: true
          type: string
        addressNote:
          nullable: true
          type: string
        longitude:
          nullable: true
          type: number
        latitude:
          nullable: true
          type: number
        notes:
          nullable: true
          type: string
        pcapMode:
          $ref: '#/components/schemas/SensorPcapMode'
        type:
          enum:
          - networking-uxi/sensor
          title: Type
          type: string
      required:
      - addressNote
      - ethernetMacAddress
      - id
      - latitude
      - longitude
      - modelNumber
      - name
      - notes
      - pcapMode
      - serial
      - type
      - wifiMacAddress
      title: SensorPatchResponse
      type: object
    SensorPcapMode:
      enum:
      - light
      - full
      - "off"
      title: SensorPcapMode
      type: string
    SensorsGetItem:
      example:
        addressNote: addressNote
        notes: notes
        pcapMode: light
        serial: serial
        ethernetMacAddress: ethernetMacAddress
        latitude: 6.027456183070403
        name: name
        modelNumber: modelNumber
        id: id
        type: networking-uxi/sensor
        wifiMacAddress: wifiMacAddress
        longitude: 0.8008281904610115
      properties:
        id:
          title: Id
          type: string
        serial:
          title: Serial
          type: string
        name:
          title: Name
          type: string
        modelNumber:
          title: Modelnumber
          type: string
        wifiMacAddress:
          nullable: true
          type: string
        ethernetMacAddress:
          nullable: true
          type: string
        addressNote:
          nullable: true
          type: string
        longitude:
          nullable: true
          type: number
        latitude:
          nullable: true
          type: number
        notes:
          nullable: true
          type: string
        pcapMode:
          $ref: '#/components/schemas/SensorPcapMode'
        type:
          enum:
          - networking-uxi/sensor
          title: Type
          type: string
      required:
      - addressNote
      - ethernetMacAddress
      - id
      - latitude
      - longitude
      - modelNumber
      - name
      - notes
      - pcapMode
      - serial
      - type
      - wifiMacAddress
      title: SensorsGetItem
      type: object
    SensorsGetResponse:
      example:
        next: next
        count: 1
        items:
        - addressNote: addressNote
          notes: notes
          pcapMode: light
          serial: serial
          ethernetMacAddress: ethernetMacAddress
          latitude: 6.027456183070403
          name: name
          modelNumber: modelNumber
          id: id
          type: networking-uxi/sensor
          wifiMacAddress: wifiMacAddress
          longitude: 0.8008281904610115
        - addressNote: addressNote
          notes: notes
          pcapMode: light
          serial: serial
          ethernetMacAddress: ethernetMacAddress
          latitude: 6.027456183070403
          name: name
          modelNumber: modelNumber
          id: id
          type: networking-uxi/sensor
          wifiMacAddress: wifiMacAddress
          longitude: 0.8008281904610115
      properties:
        items:
          items:
            $ref: '#/components/schemas/SensorsGetItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: SensorsGetResponse
      type: object
    ServiceTestGroupAssignmentPostGroup:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: ServiceTestGroupAssignmentPostGroup
      type: object
    ServiceTestGroupAssignmentPostRequest:
      example:
        groupId: groupId
        serviceTestId: serviceTestId
      properties:
        groupId:
          title: Groupid
          type: string
        serviceTestId:
          title: Servicetestid
          type: string
      required:
      - groupId
      - serviceTestId
      title: ServiceTestGroupAssignmentPostRequest
      type: object
    ServiceTestGroupAssignmentPostResponse:
      example:
        serviceTest:
          id: id
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: networking-uxi/service-test-group-assignment
        group:
          id: id
      properties:
        id:
          format: uuid
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/ServiceTestGroupAssignmentPostGroup'
        serviceTest:
          $ref: '#/components/schemas/ServiceTestGroupAssignmentPostServiceTest'
        type:
          enum:
          - networking-uxi/service-test-group-assignment
          title: Type
          type: string
      required:
      - group
      - id
      - serviceTest
      - type
      title: ServiceTestGroupAssignmentPostResponse
      type: object
    ServiceTestGroupAssignmentPostServiceTest:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: ServiceTestGroupAssignmentPostServiceTest
      type: object
    ServiceTestGroupAssignmentsGetGroup:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: ServiceTestGroupAssignmentsGetGroup
      type: object
    ServiceTestGroupAssignmentsGetItem:
      example:
        serviceTest:
          id: id
        id: id
        type: networking-uxi/service-test-group-assignment
        group:
          id: id
      properties:
        id:
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/ServiceTestGroupAssignmentsGetGroup'
        serviceTest:
          $ref: '#/components/schemas/ServiceTestGroupAssignmentsGetServiceTest'
        type:
          enum:
          - networking-uxi/service-test-group-assignment
          title: Type
          type: string
      required:
      - group
      - id
      - serviceTest
      - type
      title: ServiceTestGroupAssignmentsGetItem
      type: object
    ServiceTestGroupAssignmentsGetResponse:
      example:
        next: next
        count: 0
        items:
        - serviceTest:
            id: id
          id: id
          type: networking-uxi/service-test-group-assignment
          group:
            id: id
        - serviceTest:
            id: id
          id: id
          type: networking-uxi/service-test-group-assignment
          group:
            id: id
      properties:
        items:
          items:
            $ref: '#/components/schemas/ServiceTestGroupAssignmentsGetItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: ServiceTestGroupAssignmentsGetResponse
      type: object
    ServiceTestGroupAssignmentsGetServiceTest:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: ServiceTestGroupAssignmentsGetServiceTest
      type: object
    ServiceTestsGetItem:
      example:
        template: template
        isEnabled: true
        name: name
        id: id
        category: category
        type: networking-uxi/service-test
        target: target
      properties:
        id:
          title: Id
          type: string
        category:
          title: Category
          type: string
        name:
          title: Name
          type: string
        target:
          nullable: true
          type: string
        template:
          title: Template
          type: string
        isEnabled:
          title: Isenabled
          type: boolean
        type:
          enum:
          - networking-uxi/service-test
          title: Type
          type: string
      required:
      - category
      - id
      - isEnabled
      - name
      - target
      - template
      - type
      title: ServiceTestsGetItem
      type: object
    ServiceTestsGetResponse:
      example:
        next: next
        count: 0
        items:
        - template: template
          isEnabled: true
          name: name
          id: id
          category: category
          type: networking-uxi/service-test
          target: target
        - template: template
          isEnabled: true
          name: name
          id: id
          category: category
          type: networking-uxi/service-test
          target: target
      properties:
        items:
          items:
            $ref: '#/components/schemas/ServiceTestsGetItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: ServiceTestsGetResponse
      type: object
    WiredNetworksGetItem:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        useDns64: true
        security: security
        ipVersion: ipv4
        externalConnectivity: true
        dnsLookupDomain: dnsLookupDomain
        vLanId: 0
        name: name
        id: id
        type: networking-uxi/wired-network
        updatedAt: 2000-01-23T04:56:07.000+00:00
        disableEdns: true
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        ipVersion:
          $ref: '#/components/schemas/IpVersion'
        createdAt:
          format: date-time
          title: Createdat
          type: string
        updatedAt:
          format: date-time
          title: Updatedat
          type: string
        security:
          nullable: true
          type: string
        dnsLookupDomain:
          nullable: true
          type: string
        disableEdns:
          title: Disableedns
          type: boolean
        useDns64:
          title: Usedns64
          type: boolean
        externalConnectivity:
          title: Externalconnectivity
          type: boolean
        vLanId:
          nullable: true
          type: integer
        type:
          enum:
          - networking-uxi/wired-network
          title: Type
          type: string
      required:
      - createdAt
      - disableEdns
      - dnsLookupDomain
      - externalConnectivity
      - id
      - ipVersion
      - name
      - security
      - type
      - updatedAt
      - useDns64
      - vLanId
      title: WiredNetworksGetItem
      type: object
    WiredNetworksGetResponse:
      example:
        next: next
        count: 6
        items:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          useDns64: true
          security: security
          ipVersion: ipv4
          externalConnectivity: true
          dnsLookupDomain: dnsLookupDomain
          vLanId: 0
          name: name
          id: id
          type: networking-uxi/wired-network
          updatedAt: 2000-01-23T04:56:07.000+00:00
          disableEdns: true
        - createdAt: 2000-01-23T04:56:07.000+00:00
          useDns64: true
          security: security
          ipVersion: ipv4
          externalConnectivity: true
          dnsLookupDomain: dnsLookupDomain
          vLanId: 0
          name: name
          id: id
          type: networking-uxi/wired-network
          updatedAt: 2000-01-23T04:56:07.000+00:00
          disableEdns: true
      properties:
        items:
          items:
            $ref: '#/components/schemas/WiredNetworksGetItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: WiredNetworksGetResponse
      type: object
    WirelessNetworksGetItem:
      example:
        useDns64: true
        hidden: true
        bandLocking: bandLocking
        type: networking-uxi/wireless-network
        ssid: ssid
        disableEdns: true
        createdAt: 2000-01-23T04:56:07.000+00:00
        security: security
        ipVersion: ipv4
        externalConnectivity: true
        dnsLookupDomain: dnsLookupDomain
        name: name
        id: id
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        ssid:
          title: Ssid
          type: string
        security:
          nullable: true
          type: string
        ipVersion:
          $ref: '#/components/schemas/IpVersion'
        createdAt:
          format: date-time
          title: Createdat
          type: string
        updatedAt:
          format: date-time
          title: Updatedat
          type: string
        hidden:
          title: Hidden
          type: boolean
        bandLocking:
          title: Bandlocking
          type: string
        dnsLookupDomain:
          nullable: true
          type: string
        disableEdns:
          title: Disableedns
          type: boolean
        useDns64:
          title: Usedns64
          type: boolean
        externalConnectivity:
          title: Externalconnectivity
          type: boolean
        type:
          enum:
          - networking-uxi/wireless-network
          title: Type
          type: string
      required:
      - bandLocking
      - createdAt
      - disableEdns
      - dnsLookupDomain
      - externalConnectivity
      - hidden
      - id
      - ipVersion
      - name
      - security
      - ssid
      - type
      - updatedAt
      - useDns64
      title: WirelessNetworksGetItem
      type: object
    WirelessNetworksGetResponse:
      example:
        next: next
        count: 0
        items:
        - useDns64: true
          hidden: true
          bandLocking: bandLocking
          type: networking-uxi/wireless-network
          ssid: ssid
          disableEdns: true
          createdAt: 2000-01-23T04:56:07.000+00:00
          security: security
          ipVersion: ipv4
          externalConnectivity: true
          dnsLookupDomain: dnsLookupDomain
          name: name
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - useDns64: true
          hidden: true
          bandLocking: bandLocking
          type: networking-uxi/wireless-network
          ssid: ssid
          disableEdns: true
          createdAt: 2000-01-23T04:56:07.000+00:00
          security: security
          ipVersion: ipv4
          externalConnectivity: true
          dnsLookupDomain: dnsLookupDomain
          name: name
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        items:
          items:
            $ref: '#/components/schemas/WirelessNetworksGetItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: WirelessNetworksGetResponse
      type: object
  securitySchemes:
    HTTPBearer:
      scheme: bearer
      type: http
