openapi: 3.0.3
info:
  contact:
    email: support@capenetworks.com
    name: We need a person
    url: http://we.dont.care.yet.com/contact
  description: Nice description goes here
  license:
    name: "No idea, but we need something"
  termsOfService: http://we.dont.care.yet.com/term-of-service
  title: Configuration Api
  version: 1.4.0
servers:
- url: https://api.capenetworks.com
- url: https://api.staging.capedev.io
tags:
- name: api
- name: v1
- name: configuration
- name: groups
- name: health
- name: sensor-group-assignments
paths:
  /health/livez:
    get:
      deprecated: true
      description: Check the health of the service.
      operationId: get_livez_health_livez_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LivenessResponse'
          description: Successful Response
      summary: Live health check
      tags:
      - configuration
  /health/readyz:
    get:
      deprecated: true
      description: Check if the service is ready to process requests.
      operationId: get_readyz_health_readyz_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
          description: Successful Response
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessErrorResponse'
          description: Service Unavailable
      summary: Ready health check
      tags:
      - configuration
  /health/status:
    get:
      deprecated: true
      description: Check basic service details.
      operationId: get_status_health_status_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Successful Response
      summary: Service stats endpoint
      tags:
      - configuration
  /configuration/app/v1/groups:
    post:
      description: Create a new group with the group identified in `parent_uid` as
        its parent
      operationId: groups_post_configuration_app_v1_groups_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupsPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsPostResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Groups Post
      tags:
      - configuration
  /configuration/app/v1/sensor-group-assignments:
    get:
      description: Get a list of sensor group assignments
      operationId: get_configuration_app_v1_sensor_group_assignments_get
      parameters:
      - explode: true
        in: query
        name: uid
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorGroupAssignmentsResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Get
      tags:
      - configuration
components:
  schemas:
    ErrorDetail:
      example:
        message: message
      properties:
        message:
          title: Message
          type: string
      required:
      - message
      title: ErrorDetail
      type: object
    ErrorResponse:
      example:
        detail:
        - message: message
        - message: message
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          title: Detail
          type: array
      required:
      - detail
      title: ErrorResponse
      type: object
    GroupsPostRequest:
      example:
        parent_uid: parent_uid
        name: name
      properties:
        parent_uid:
          title: Parent Uid
          type: string
        name:
          title: Name
          type: string
      required:
      - name
      - parent_uid
      title: GroupsPostRequest
      type: object
    GroupsPostResponse:
      example:
        uid: uid
        path: path
        parent_uid: parent_uid
        name: name
      properties:
        parent_uid:
          title: Parent Uid
          type: string
        name:
          title: Name
          type: string
        uid:
          title: Uid
          type: string
        path:
          title: Path
          type: string
      required:
      - name
      - parent_uid
      - path
      - uid
      title: GroupsPostResponse
      type: object
    LivenessResponse:
      example:
        status: OK
      properties:
        status:
          enum:
          - OK
          title: Status
          type: string
      required:
      - status
      title: LivenessResponse
      type: object
    PaginationDetails:
      example:
        next: next
        previous: previous
        last: last
        limit: 0
        first: first
      properties:
        limit:
          title: Limit
          type: integer
        next:
          title: Next
          type: string
        previous:
          title: Previous
          type: string
        first:
          title: First
          type: string
        last:
          title: Last
          type: string
      required:
      - first
      - last
      - limit
      - next
      - previous
      title: PaginationDetails
      type: object
    ReadinessErrorResponse:
      example:
        data:
          key: data
        status: ERROR
      properties:
        data:
          additionalProperties:
            type: string
          title: Data
          type: object
        status:
          enum:
          - ERROR
          title: Status
          type: string
      required:
      - data
      - status
      title: ReadinessErrorResponse
      type: object
    ReadinessResponse:
      example:
        data:
          key: data
        status: OK
      properties:
        data:
          additionalProperties:
            type: string
          title: Data
          type: object
        status:
          enum:
          - OK
          title: Status
          type: string
      required:
      - data
      - status
      title: ReadinessResponse
      type: object
    SensorGroupAssignment:
      example:
        group_uid: group_uid
        uid: uid
        sensor_uid: sensor_uid
      properties:
        uid:
          title: Uid
          type: string
        group_uid:
          title: Group Uid
          type: string
        sensor_uid:
          title: Sensor Uid
          type: string
      required:
      - group_uid
      - sensor_uid
      - uid
      title: SensorGroupAssignment
      type: object
    SensorGroupAssignmentsResponse:
      example:
        sensor_group_assignments:
        - group_uid: group_uid
          uid: uid
          sensor_uid: sensor_uid
        - group_uid: group_uid
          uid: uid
          sensor_uid: sensor_uid
        pagination:
          next: next
          previous: previous
          last: last
          limit: 0
          first: first
      properties:
        sensor_group_assignments:
          items:
            $ref: '#/components/schemas/SensorGroupAssignment'
          title: Sensor Group Assignments
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationDetails'
      required:
      - pagination
      - sensor_group_assignments
      title: SensorGroupAssignmentsResponse
      type: object
    StatusResponse:
      example:
        name: name
        version: version
      properties:
        name:
          title: Name
          type: string
        version:
          title: Version
          type: string
      required:
      - name
      - version
      title: StatusResponse
      type: object
  securitySchemes:
    HTTPBearer:
      scheme: bearer
      type: http
