openapi: 3.0.3
info:
  contact:
    email: support@capenetworks.com
    name: We need a person
    url: http://we.dont.care.yet.com/contact
  description: Nice description goes here
  license:
    name: "No idea, but we need something"
  termsOfService: http://we.dont.care.yet.com/term-of-service
  title: Configuration Api
  version: 1.22.0
servers:
- url: https://api.capenetworks.com
- url: https://api.staging.capedev.io
tags:
- name: api
- name: v1
- name: v1alpha1
- name: configuration
- name: groups
- name: health
- name: network-group-assignments
- name: sensor-group-assignments
- name: service-test-group-assignments
- name: wired-networks
- name: wireless-networks
paths:
  /uxi/v1alpha1/groups:
    get:
      description: Lists groups matching provided criteria
      operationId: groups_get_uxi_v1alpha1_groups_get
      parameters:
      - explode: true
        in: query
        name: uid
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsGetResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Groups Get
      tags:
      - configuration
      x-stability-level: alpha
    post:
      description: Create a new group with the group identified in `parent_uid` as
        its parent
      operationId: groups_post_uxi_v1alpha1_groups_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupsPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsPostResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Groups Post
      tags:
      - configuration
      x-stability-level: alpha
  /uxi/v1alpha1/groups/{group_uid}:
    patch:
      description: Update an existing group.
      operationId: groups_patch_uxi_v1alpha1_groups__group_uid__patch
      parameters:
      - explode: false
        in: path
        name: group_uid
        required: true
        schema:
          title: Group Uid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupsPatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsPatchResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Groups Patch
      tags:
      - configuration
  /uxi/v1alpha1/network-group-assignments/{id}:
    delete:
      description: Delete a network group assignment
      operationId: delete_network_group_assignment_uxi_v1alpha1_network_group_assignments__id__delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "204":
          description: No Content
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Delete Network Group Assignment
      tags:
      - configuration
      x-stability-level: alpha
  /uxi/v1alpha1/network-group-assignments:
    get:
      description: Get a list of network group assignments
      operationId: get_uxi_v1alpha1_network_group_assignments_get
      parameters:
      - explode: true
        in: query
        name: uid
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGroupAssignmentsResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Get
      tags:
      - configuration
      x-stability-level: alpha
    post:
      description: Create a network group assignment
      operationId: post_uxi_v1alpha1_network_group_assignments_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkGroupAssignmentsPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkGroupAssignmentsPostResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Post
      tags:
      - configuration
      x-stability-level: alpha
  /uxi/v1alpha1/sensor-group-assignments:
    get:
      description: Get a list of sensor group assignments
      operationId: get_uxi_v1alpha1_sensor_group_assignments_get
      parameters:
      - explode: true
        in: query
        name: uid
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorGroupAssignmentsResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Get
      tags:
      - configuration
      x-stability-level: alpha
    post:
      description: Create sensor group assignment
      operationId: post_uxi_v1alpha1_sensor_group_assignments_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SensorGroupAssignmentsPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorGroupAssignmentResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Post
      tags:
      - configuration
      x-stability-level: alpha
  /uxi/v1alpha1/sensor-group-assignments/{id}:
    delete:
      description: Delete a sensor group assignment
      operationId: delete_sensor_group_assignment_uxi_v1alpha1_sensor_group_assignments__id__delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "204":
          description: No Content
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Delete Sensor Group Assignment
      tags:
      - configuration
      x-stability-level: alpha
  /uxi/v1alpha1/service-test-group-assignments:
    post:
      description: Create a service-test group assignment
      operationId: post_uxi_v1alpha1_service_test_group_assignments_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceTestGroupAssignmentsPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTestGroupAssignmentsPostResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Post
      tags:
      - configuration
      x-stability-level: alpha
  /uxi/v1alpha1/wired-networks:
    get:
      description: Get a list of wired networks
      operationId: get_uxi_v1alpha1_wired_networks_get
      parameters:
      - explode: true
        in: query
        name: uid
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WiredNetworksResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Get
      tags:
      - configuration
      x-stability-level: alpha
  /uxi/v1alpha1/wireless-networks:
    get:
      description: Get a list of wireless networks
      operationId: get_uxi_v1alpha1_wireless_networks_get
      parameters:
      - explode: true
        in: query
        name: uid
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WirelessNetworksResponse'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Server Error
      security:
      - HTTPBearer: []
      summary: Get
      tags:
      - configuration
      x-stability-level: alpha
components:
  schemas:
    ErrorDetail:
      example:
        type: type
        issues:
        - subject: field
          description: description
          source: source
        - subject: field
          description: description
          source: source
      properties:
        issues:
          items:
            $ref: '#/components/schemas/Issue'
          title: Issues
          type: array
        type:
          title: Type
          type: string
      required:
      - issues
      - type
      title: ErrorDetail
      type: object
    ErrorResponse:
      example:
        errorCode: errorCode
        debugId: debugId
        message: message
        httpStatusCode: 6
        errorDetails:
        - type: type
          issues:
          - subject: field
            description: description
            source: source
          - subject: field
            description: description
            source: source
        - type: type
          issues:
          - subject: field
            description: description
            source: source
          - subject: field
            description: description
            source: source
      properties:
        debugId:
          title: Debugid
          type: string
        errorCode:
          title: Errorcode
          type: string
        httpStatusCode:
          title: Httpstatuscode
          type: integer
        message:
          title: Message
          type: string
        errorDetails:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          nullable: true
          type: array
      required:
      - debugId
      - errorCode
      - errorDetails
      - httpStatusCode
      - message
      title: ErrorResponse
      type: object
    Group:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: Group
      type: object
    GroupsGetItem:
      example:
        parent:
          id: id
        path: path
        name: name
        id: id
        type: uxi/group
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        parent:
          $ref: '#/components/schemas/Parent'
        path:
          title: Path
          type: string
        type:
          default: uxi/group
          title: Type
          type: string
      required:
      - id
      - name
      - parent
      - path
      title: GroupsGetItem
      type: object
    GroupsGetResponse:
      example:
        next: next
        count: 0
        items:
        - parent:
            id: id
          path: path
          name: name
          id: id
          type: uxi/group
        - parent:
            id: id
          path: path
          name: name
          id: id
          type: uxi/group
      properties:
        items:
          items:
            $ref: '#/components/schemas/GroupsGetItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: GroupsGetResponse
      type: object
    GroupsPatchRequest:
      example:
        name: name
      properties:
        name:
          title: Name
          type: string
      required:
      - name
      title: GroupsPatchRequest
      type: object
    GroupsPatchResponse:
      example:
        path: path
        parent:
          id: id
        name: name
        id: id
        type: uxi/group
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        path:
          title: Path
          type: string
        parent:
          $ref: '#/components/schemas/Parent'
        type:
          default: uxi/group
          title: Type
          type: string
      required:
      - id
      - name
      - parent
      - path
      title: GroupsPatchResponse
      type: object
    GroupsPostRequest:
      example:
        name: name
        parentId: parentId
      properties:
        parentId:
          title: Parentid
          type: string
        name:
          title: Name
          type: string
      required:
      - name
      - parentId
      title: GroupsPostRequest
      type: object
    GroupsPostResponse:
      example:
        path: path
        parent:
          id: id
        name: name
        id: id
        type: uxi/group
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        path:
          title: Path
          type: string
        parent:
          $ref: '#/components/schemas/Parent'
        type:
          default: uxi/group
          title: Type
          type: string
      required:
      - id
      - name
      - parent
      - path
      title: GroupsPostResponse
      type: object
    Issue:
      example:
        subject: field
        description: description
        source: source
      properties:
        description:
          title: Description
          type: string
        subject:
          $ref: '#/components/schemas/IssueSubject'
        source:
          title: Source
          type: string
      required:
      - description
      - source
      - subject
      title: Issue
      type: object
    IssueSubject:
      enum:
      - field
      - header
      - query.parameter
      title: IssueSubject
      type: string
    Network:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: Network
      type: object
    NetworkGroupAssignmentsItem:
      example:
        id: id
        type: uxi/network-group-assignment
        group:
          id: id
        network:
          id: id
      properties:
        id:
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/Group'
        network:
          $ref: '#/components/schemas/Network'
        type:
          default: uxi/network-group-assignment
          title: Type
          type: string
      required:
      - group
      - id
      - network
      title: NetworkGroupAssignmentsItem
      type: object
    NetworkGroupAssignmentsPostRequest:
      example:
        groupId: groupId
        networkId: networkId
      properties:
        groupId:
          title: Groupid
          type: string
        networkId:
          title: Networkid
          type: string
      required:
      - groupId
      - networkId
      title: NetworkGroupAssignmentsPostRequest
      type: object
    NetworkGroupAssignmentsPostResponse:
      example:
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: uxi/network-group-assignment
        group:
          id: id
        network:
          id: id
      properties:
        id:
          format: uuid
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/Group'
        network:
          $ref: '#/components/schemas/Network'
        type:
          default: uxi/network-group-assignment
          title: Type
          type: string
      required:
      - group
      - id
      - network
      title: NetworkGroupAssignmentsPostResponse
      type: object
    NetworkGroupAssignmentsResponse:
      example:
        next: next
        count: 0
        items:
        - id: id
          type: uxi/network-group-assignment
          group:
            id: id
          network:
            id: id
        - id: id
          type: uxi/network-group-assignment
          group:
            id: id
          network:
            id: id
      properties:
        items:
          items:
            $ref: '#/components/schemas/NetworkGroupAssignmentsItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: NetworkGroupAssignmentsResponse
      type: object
    Parent:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: Parent
      type: object
    Sensor:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: Sensor
      type: object
    SensorGroupAssignmentResponse:
      example:
        sensor:
          id: id
        id: id
        type: uxi/sensor-group-assignment
        group:
          id: id
      properties:
        id:
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/Group'
        sensor:
          $ref: '#/components/schemas/Sensor'
        type:
          default: uxi/sensor-group-assignment
          title: Type
          type: string
      required:
      - group
      - id
      - sensor
      title: SensorGroupAssignmentResponse
      type: object
    SensorGroupAssignmentsItem:
      example:
        sensor:
          id: id
        id: id
        type: uxi/sensor-group-assignment
        group:
          id: id
      properties:
        id:
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/Group'
        sensor:
          $ref: '#/components/schemas/Sensor'
        type:
          default: uxi/sensor-group-assignment
          title: Type
          type: string
      required:
      - group
      - id
      - sensor
      title: SensorGroupAssignmentsItem
      type: object
    SensorGroupAssignmentsPostRequest:
      example:
        groupId: groupId
        sensorId: sensorId
      properties:
        groupId:
          title: Groupid
          type: string
        sensorId:
          title: Sensorid
          type: string
      required:
      - groupId
      - sensorId
      title: SensorGroupAssignmentsPostRequest
      type: object
    SensorGroupAssignmentsResponse:
      example:
        next: next
        count: 0
        items:
        - sensor:
            id: id
          id: id
          type: uxi/sensor-group-assignment
          group:
            id: id
        - sensor:
            id: id
          id: id
          type: uxi/sensor-group-assignment
          group:
            id: id
      properties:
        items:
          items:
            $ref: '#/components/schemas/SensorGroupAssignmentsItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: SensorGroupAssignmentsResponse
      type: object
    ServiceTest:
      example:
        id: id
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: ServiceTest
      type: object
    ServiceTestGroupAssignmentsPostRequest:
      example:
        groupId: groupId
        serviceTestId: serviceTestId
      properties:
        groupId:
          title: Groupid
          type: string
        serviceTestId:
          title: Servicetestid
          type: string
      required:
      - groupId
      - serviceTestId
      title: ServiceTestGroupAssignmentsPostRequest
      type: object
    ServiceTestGroupAssignmentsPostResponse:
      example:
        service_test:
          id: id
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: uxi/service-test-group-assignment
        group:
          id: id
      properties:
        id:
          format: uuid
          title: Id
          type: string
        group:
          $ref: '#/components/schemas/Group'
        service_test:
          $ref: '#/components/schemas/ServiceTest'
        type:
          default: uxi/service-test-group-assignment
          title: Type
          type: string
      required:
      - group
      - id
      - service_test
      title: ServiceTestGroupAssignmentsPostResponse
      type: object
    WiredNetworksItem:
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        useDns64: true
        security: security
        ipVersion: ipVersion
        externalConnectivity: true
        dnsLookupDomain: dnsLookupDomain
        vLanId: 0
        name: name
        id: id
        type: uxi/wired-network
        updatedAt: 2000-01-23T04:56:07.000+00:00
        disableEdns: true
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        ipVersion:
          title: Ipversion
          type: string
        createdAt:
          format: date-time
          title: Createdat
          type: string
        updatedAt:
          format: date-time
          title: Updatedat
          type: string
        security:
          nullable: true
          type: string
        dnsLookupDomain:
          nullable: true
          type: string
        disableEdns:
          title: Disableedns
          type: boolean
        useDns64:
          title: Usedns64
          type: boolean
        externalConnectivity:
          title: Externalconnectivity
          type: boolean
        vLanId:
          nullable: true
          type: integer
        type:
          default: uxi/wired-network
          title: Type
          type: string
      required:
      - createdAt
      - disableEdns
      - dnsLookupDomain
      - externalConnectivity
      - id
      - ipVersion
      - name
      - security
      - updatedAt
      - useDns64
      - vLanId
      title: WiredNetworksItem
      type: object
    WiredNetworksResponse:
      example:
        next: next
        count: 6
        items:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          useDns64: true
          security: security
          ipVersion: ipVersion
          externalConnectivity: true
          dnsLookupDomain: dnsLookupDomain
          vLanId: 0
          name: name
          id: id
          type: uxi/wired-network
          updatedAt: 2000-01-23T04:56:07.000+00:00
          disableEdns: true
        - createdAt: 2000-01-23T04:56:07.000+00:00
          useDns64: true
          security: security
          ipVersion: ipVersion
          externalConnectivity: true
          dnsLookupDomain: dnsLookupDomain
          vLanId: 0
          name: name
          id: id
          type: uxi/wired-network
          updatedAt: 2000-01-23T04:56:07.000+00:00
          disableEdns: true
      properties:
        items:
          items:
            $ref: '#/components/schemas/WiredNetworksItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: WiredNetworksResponse
      type: object
    WirelessNetworksItem:
      example:
        useDns64: true
        hidden: true
        bandLocking: bandLocking
        type: uxi/wireless-network
        ssid: ssid
        disableEdns: true
        createdAt: 2000-01-23T04:56:07.000+00:00
        security: security
        ipVersion: ipVersion
        externalConnectivity: true
        dnsLookupDomain: dnsLookupDomain
        name: name
        id: id
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        ssid:
          title: Ssid
          type: string
        security:
          nullable: true
          type: string
        ipVersion:
          title: Ipversion
          type: string
        createdAt:
          format: date-time
          title: Createdat
          type: string
        updatedAt:
          format: date-time
          title: Updatedat
          type: string
        hidden:
          title: Hidden
          type: boolean
        bandLocking:
          title: Bandlocking
          type: string
        dnsLookupDomain:
          nullable: true
          type: string
        disableEdns:
          title: Disableedns
          type: boolean
        useDns64:
          title: Usedns64
          type: boolean
        externalConnectivity:
          title: Externalconnectivity
          type: boolean
        type:
          default: uxi/wireless-network
          title: Type
          type: string
      required:
      - bandLocking
      - createdAt
      - disableEdns
      - dnsLookupDomain
      - externalConnectivity
      - hidden
      - id
      - ipVersion
      - name
      - security
      - ssid
      - updatedAt
      - useDns64
      title: WirelessNetworksItem
      type: object
    WirelessNetworksResponse:
      example:
        next: next
        count: 0
        items:
        - useDns64: true
          hidden: true
          bandLocking: bandLocking
          type: uxi/wireless-network
          ssid: ssid
          disableEdns: true
          createdAt: 2000-01-23T04:56:07.000+00:00
          security: security
          ipVersion: ipVersion
          externalConnectivity: true
          dnsLookupDomain: dnsLookupDomain
          name: name
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - useDns64: true
          hidden: true
          bandLocking: bandLocking
          type: uxi/wireless-network
          ssid: ssid
          disableEdns: true
          createdAt: 2000-01-23T04:56:07.000+00:00
          security: security
          ipVersion: ipVersion
          externalConnectivity: true
          dnsLookupDomain: dnsLookupDomain
          name: name
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        items:
          items:
            $ref: '#/components/schemas/WirelessNetworksItem'
          title: Items
          type: array
        count:
          title: Count
          type: integer
        next:
          nullable: true
          type: string
      required:
      - count
      - items
      - next
      title: WirelessNetworksResponse
      type: object
  securitySchemes:
    HTTPBearer:
      scheme: bearer
      type: http
