openapi: 3.0.3
info:
  contact:
    email: support@capenetworks.com
    name: HPE Aruba Networking UXI Support
    url: https://help.capenetworks.com/en/
  description: This document outlines the API contracts for HPE Aruba Networking UXI.
  title: HPE Aruba Networking UXI Configuration
  version: 5.22.0
servers:
- url: https://api.capenetworks.com
tags:
- name: api
- name: v1
- name: v1alpha1
- name: configuration
- name: agents
- name: agent-group-assignments
- name: groups
- name: network-group-assignments
- name: sensors
- name: sensor-group-assignments
- name: service-tests
- name: service-test-group-assignments
- name: wired-networks
- name: wireless-networks
paths:
  /networking-uxi/v1alpha1/agents/{id}:
    delete:
      description: Delete the specified agent
      operationId: agent_delete
      parameters:
      - description: The unique identifier of the agent
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of the agent
          title: Agent ID
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: The request could not be processed due to a validation
                    error.
                  summary: Bad Request
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_BAD_REQUEST
                    httpStatusCode: 400
                    message: The request could not be processed due to a validation
                      error.
                    errorDetails:
                    - issues:
                      - description: The request could not be processed due to a validation
                          error.
                        subject: header
                        source: x-generic-header
                      type: hpe.greenlake.bad_request
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  description: Resource not found.
                  summary: Not Found
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_NOT_FOUND
                    httpStatusCode: 404
                    message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "422":
          content:
            application/json:
              examples:
                Hardware sensor deletion forbidden:
                  description: Cant delete sensor - hardware sensor deletion is forbidden.
                  summary: Hardware sensor deletion forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_HARDWARE_SENSOR_DELETION_FORBIDDEN
                    httpStatusCode: 422
                    message: Cant delete sensor - hardware sensor deletion is forbidden.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Agent Delete
      tags:
      - configuration
    patch:
      description: Patch the specified agent
      operationId: agent_patch
      parameters:
      - description: The unique identifier of the agent
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of the agent
          title: Agent ID
          type: string
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            examples:
              Update agent details:
                description: Update the details of the specified agent
                summary: Update agent details
                value:
                  name: Updated Agent Name
                  notes: Updated notes
                  pcapMode: "off"
              Update agent name:
                description: Update the name of the specified agent
                summary: Update agent name
                value:
                  name: Updated Agent Name
            schema:
              $ref: '#/components/schemas/AgentPatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Updated agent:
                  description: Agent successfully updated.
                  summary: Updated agent
                  value:
                    id: b1b8bd47-951a-42e3-bbec-f68ee5cc94be
                    serial: "1234567890"
                    name: Agent Name
                    modelNumber: UX-F5C
                    wifiMacAddress: 00:11:22:33:44:55
                    ethernetMacAddress: 00:11:22:33:44:56
                    notes: Notes
                    pcapMode: "off"
                    type: networking-uxi/agent
              schema:
                $ref: '#/components/schemas/AgentPatchResponse'
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: The request could not be processed due to a validation
                    error.
                  summary: Bad Request
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_BAD_REQUEST
                    httpStatusCode: 400
                    message: The request could not be processed due to a validation
                      error.
                    errorDetails:
                    - issues:
                      - description: The request could not be processed due to a validation
                          error.
                        subject: header
                        source: x-generic-header
                      type: hpe.greenlake.bad_request
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  description: Resource not found.
                  summary: Not Found
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_NOT_FOUND
                    httpStatusCode: 404
                    message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Agent Patch
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/agent-group-assignments/{id}:
    delete:
      description: Delete the specified agent group assignment
      operationId: agent_group_assignment_delete
      parameters:
      - description: The unique identifier of the assignment
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of the assignment
          title: Assignment ID
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: The request could not be processed due to a validation
                    error.
                  summary: Bad Request
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_BAD_REQUEST
                    httpStatusCode: 400
                    message: The request could not be processed due to a validation
                      error.
                    errorDetails:
                    - issues:
                      - description: The request could not be processed due to a validation
                          error.
                        subject: header
                        source: x-generic-header
                      type: hpe.greenlake.bad_request
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  description: Resource not found.
                  summary: Not Found
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_NOT_FOUND
                    httpStatusCode: 404
                    message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Agent Group Assignment Delete
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/agent-group-assignments:
    get:
      description: Get a list of agent group assignments
      operationId: agent_group_assignments_get
      parameters:
      - description: The ID of the resource.
        explode: true
        in: query
        name: id
        required: false
        schema:
          description: The ID of the resource.
          nullable: true
          title: ID
          type: string
        style: form
      - description: The next cursor for pagination.
        explode: true
        in: query
        name: next
        required: false
        schema:
          description: The next cursor for pagination.
          nullable: true
          title: Next
          type: string
        style: form
      - description: The maximum number of items returned in the response.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          description: The maximum number of items returned in the response.
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                List of agent group assignments:
                  description: List of agent group assignment retrieval.
                  summary: List of agent group assignments
                  value:
                    items:
                    - id: 8419059c-1f4d-4cea-adf1-bd09654edba1
                      group:
                        id: 4gergsdgdf4tr
                      agent:
                        id: bff985d7-ef1d-4d49-84d6-5e3ed345dda1
                      type: networking-uxi/agent-group-assignment
                    count: 1
                    next: aGVsbG8gZnJvbSBhbGlzdGFpcg==
              schema:
                $ref: '#/components/schemas/AgentGroupAssignmentsGetResponse'
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Malformed cursor:
                  description: The provided cursor could not be decoded.
                  summary: Malformed cursor
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_MALFORMED_CURSOR
                    httpStatusCode: 400
                    message: The provided cursor could not be decoded.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Agent Group Assignments Get
      tags:
      - configuration
      x-stability-level: alpha
    post:
      description: Create an agent group assignment
      operationId: agent_group_assignment_post
      requestBody:
        content:
          application/json:
            examples:
              Create an agent group assignment:
                description: Create an agent group assignment
                summary: Create an agent group assignment
                value:
                  groupId: e0f97a387c31
                  agentId: 0f4c2917-9886-41bf-8ea6-faaea9fddbf0
            schema:
              $ref: '#/components/schemas/AgentGroupAssignmentPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Agent group assignment created:
                  description: Agent group assignment successfully created.
                  summary: Agent group assignment created
                  value:
                    id: 8419059c-1f4d-4cea-adf1-bd09654edba1
                    group:
                      id: 4gergsdgdf4tr
                    agent:
                      id: bff985d7-ef1d-4d49-84d6-5e3ed345dda1
                    type: networking-uxi/agent-group-assignment
              schema:
                $ref: '#/components/schemas/AgentGroupAssignmentPostResponse'
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: The request could not be processed due to a validation
                    error.
                  summary: Bad Request
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_BAD_REQUEST
                    httpStatusCode: 400
                    message: The request could not be processed due to a validation
                      error.
                    errorDetails:
                    - issues:
                      - description: The request could not be processed due to a validation
                          error.
                        subject: header
                        source: x-generic-header
                      type: hpe.greenlake.bad_request
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              examples:
                Assignment already exists:
                  description: Resource already exists.
                  summary: Assignment already exists
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_CONFLICT
                    httpStatusCode: 409
                    message: Resource already exists.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Conflict
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "422":
          content:
            application/json:
              examples:
                Agent does not exist:
                  description: Unable to assign agent to group - the specified agent
                    does not exist.
                  summary: Agent does not exist
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_AGENT_DOES_NOT_EXIST
                    httpStatusCode: 422
                    message: Unable to assign agent to group - the specified agent
                      does not exist.
                Assignment to root group error:
                  description: Unable to assign agent to group - the specified group
                    is a root group.
                  summary: Assignment to root group error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_CANNOT_ASSIGN_AGENT_TO_ROOT_GROUP
                    httpStatusCode: 422
                    message: Unable to assign agent to group - the specified group
                      is a root group.
                Group does not exist:
                  description: Unable to assign agent to group - the specified group
                    does not exist.
                  summary: Group does not exist
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_GROUP_DOES_NOT_EXIST
                    httpStatusCode: 422
                    message: Unable to assign agent to group - the specified group
                      does not exist.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Agent Group Assignment Post
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/agents:
    get:
      description: Get a list of agents
      operationId: agents_get
      parameters:
      - description: The ID of the resource.
        explode: true
        in: query
        name: id
        required: false
        schema:
          description: The ID of the resource.
          nullable: true
          title: ID
          type: string
        style: form
      - description: The next cursor for pagination.
        explode: true
        in: query
        name: next
        required: false
        schema:
          description: The next cursor for pagination.
          nullable: true
          title: Next
          type: string
        style: form
      - description: The maximum number of items returned in the response.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          description: The maximum number of items returned in the response.
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                List of agents:
                  description: List of agents retrieval.
                  summary: List of agents
                  value:
                    items:
                    - id: b1b8bd47-951a-42e3-bbec-f68ee5cc94be
                      serial: "1234567890"
                      name: Agent Name
                      modelNumber: UX-F5C
                      wifiMacAddress: 00:11:22:33:44:55
                      ethernetMacAddress: 00:11:22:33:44:56
                      notes: Notes
                      pcapMode: "off"
                      type: networking-uxi/agent
                    count: 1
                    next: aGVsbG8gZnJvbSBhbGlzdGFpcg==
              schema:
                $ref: '#/components/schemas/AgentsGetResponse'
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Malformed cursor:
                  description: The provided cursor could not be decoded.
                  summary: Malformed cursor
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_MALFORMED_CURSOR
                    httpStatusCode: 400
                    message: The provided cursor could not be decoded.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Agents Get
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/groups/{id}:
    delete:
      description: Delete an existing group. Deleting a group will also delete all
        child groups and resource assignments to any deleted group.
      operationId: group_delete
      parameters:
      - description: The unique identifier of the group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of the group.
          title: Group ID
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: The request could not be processed due to a validation
                    error.
                  summary: Bad Request
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_BAD_REQUEST
                    httpStatusCode: 400
                    message: The request could not be processed due to a validation
                      error.
                    errorDetails:
                    - issues:
                      - description: The request could not be processed due to a validation
                          error.
                        subject: header
                        source: x-generic-header
                      type: hpe.greenlake.bad_request
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  description: Resource not found.
                  summary: Not Found
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_NOT_FOUND
                    httpStatusCode: 404
                    message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "422":
          content:
            application/json:
              examples:
                Cannot delete root group:
                  description: Cannot delete group - the root group cannot be deleted.
                  summary: Cannot delete root group
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_CANNOT_DELETE_ROOT_GROUP
                    httpStatusCode: 422
                    message: Cannot delete group - the root group cannot be deleted.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Group Delete
      tags:
      - configuration
      x-stability-level: alpha
    patch:
      description: Update the properties of a group.
      operationId: group_patch
      parameters:
      - description: The unique identifier of the group
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of the group
          title: Group ID
          type: string
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            examples:
              Update group name:
                description: Update the name of the specified group
                summary: Update group name
                value:
                  name: Updated Group Name
            schema:
              $ref: '#/components/schemas/GroupPatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Updated group:
                  description: Group successfully updated.
                  summary: Updated group
                  value:
                    id: dsfldjsah389
                    name: Group Name
                    path: 4gergsdgdf4tr.dsfldjsah389
                    parent:
                      id: 4gergsdgdf4tr
                    type: networking-uxi/group
              schema:
                $ref: '#/components/schemas/GroupPatchResponse'
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: The request could not be processed due to a validation
                    error.
                  summary: Bad Request
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_BAD_REQUEST
                    httpStatusCode: 400
                    message: The request could not be processed due to a validation
                      error.
                    errorDetails:
                    - issues:
                      - description: The request could not be processed due to a validation
                          error.
                        subject: header
                        source: x-generic-header
                      type: hpe.greenlake.bad_request
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  description: Resource not found.
                  summary: Not Found
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_NOT_FOUND
                    httpStatusCode: 404
                    message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "422":
          content:
            application/json:
              examples:
                Duplicate sibling group name:
                  description: Unable to update group - a sibling group already has
                    the specified name.
                  summary: Duplicate sibling group name
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_DUPLICATE_SIBLING_GROUP_NAME
                    httpStatusCode: 422
                    message: Unable to update group - a sibling group already has
                      the specified name.
                Cannot update the root group:
                  description: Unable to update group - the root group cannot be updated.
                  summary: Cannot update the root group
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_CANNOT_UPDATE_ROOT_GROUP
                    httpStatusCode: 422
                    message: Unable to update group - the root group cannot be updated.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Group Patch
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/groups:
    get:
      description: Get a list of groups
      operationId: groups_get
      parameters:
      - description: The ID of the resource.
        explode: true
        in: query
        name: id
        required: false
        schema:
          description: The ID of the resource.
          nullable: true
          title: ID
          type: string
        style: form
      - description: The next cursor for pagination.
        explode: true
        in: query
        name: next
        required: false
        schema:
          description: The next cursor for pagination.
          nullable: true
          title: Next
          type: string
        style: form
      - description: The maximum number of items returned in the response.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          description: The maximum number of items returned in the response.
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                List of groups:
                  description: List of groups successfully retrieval.
                  summary: List of groups
                  value:
                    items:
                    - id: dsfldjsah389
                      name: Group Name
                      parent:
                        id: 4gergsdgdf4tr
                      path: 4gergsdgdf4tr.dsfldjsah389
                      type: networking-uxi/group
                    count: 1
                    next: aGVsbG8gZnJvbSBhbGlzdGFpcg==
              schema:
                $ref: '#/components/schemas/GroupsGetResponse'
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Malformed cursor:
                  description: The provided cursor could not be decoded.
                  summary: Malformed cursor
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_MALFORMED_CURSOR
                    httpStatusCode: 400
                    message: The provided cursor could not be decoded.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Groups Get
      tags:
      - configuration
      x-stability-level: alpha
    post:
      description: "Create a new group with the specified name as a child group of\
        \ the specified parent group. When `parentId` is omitted, the new group is\
        \ created as a child of the root group."
      operationId: group_post
      requestBody:
        content:
          application/json:
            examples:
              Create a new group (specify parent ID):
                description: Create a new group as a child of the specified parent
                  group
                summary: Create a new group (specify parent ID)
                value:
                  parentId: e0f97a387c31
                  name: Example Group
              Create a new group (parent ID not specified):
                description: Create a new group as a top level configurable group
                summary: Create a new group (parent ID not specified)
                value:
                  name: Example Group
            schema:
              $ref: '#/components/schemas/GroupPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Group created:
                  description: Group successfully created.
                  summary: Group created
                  value:
                    id: dsfldjsah389
                    name: Group Name
                    path: 4gergsdgdf4tr.dsfldjsah389
                    parent:
                      id: 4gergsdgdf4tr
                    type: networking-uxi/group
              schema:
                $ref: '#/components/schemas/GroupPostResponse'
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: The request could not be processed due to a validation
                    error.
                  summary: Bad Request
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_BAD_REQUEST
                    httpStatusCode: 400
                    message: The request could not be processed due to a validation
                      error.
                    errorDetails:
                    - issues:
                      - description: The request could not be processed due to a validation
                          error.
                        subject: header
                        source: x-generic-header
                      type: hpe.greenlake.bad_request
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "422":
          content:
            application/json:
              examples:
                Parent group does not exist:
                  description: Unable to create group - the specified parent group
                    does not exist.
                  summary: Parent group does not exist
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_PARENT_GROUP_DOES_NOT_EXIST
                    httpStatusCode: 422
                    message: Unable to create group - the specified parent group does
                      not exist.
                Duplicate sibling group name:
                  description: Unable to create group - a sibling group already has
                    the specified name.
                  summary: Duplicate sibling group name
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_DUPLICATE_SIBLING_GROUP_NAME
                    httpStatusCode: 422
                    message: Unable to create group - a sibling group already has
                      the specified name.
                Maximum group depth exceeded:
                  description: Unable to create group - the maximum group depth has
                    been exceeded.
                  summary: Maximum group depth exceeded
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_MAXIMUM_GROUP_DEPTH_EXCEEDED
                    httpStatusCode: 422
                    message: Unable to create group - the maximum group depth has
                      been exceeded.
                Parent has too many children:
                  description: Unable to create group - the maximum number of children
                    for the specified parent has been exceeded.
                  summary: Parent has too many children
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_PARENT_HAS_TOO_MANY_CHILDREN
                    httpStatusCode: 422
                    message: Unable to create group - the maximum number of children
                      for the specified parent has been exceeded.
                Maximum group count exceeded:
                  description: Unable to create group - the maximum group count has
                    been exceeded.
                  summary: Maximum group count exceeded
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_MAXIMUM_GROUP_COUNT_EXCEEDED
                    httpStatusCode: 422
                    message: Unable to create group - the maximum group count has
                      been exceeded.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Group Post
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/network-group-assignments/{id}:
    delete:
      description: Delete the specified network group assignment
      operationId: network_group_assignment_delete
      parameters:
      - description: The unique identifier of the network group assignment
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of the network group assignment
          title: Assignment ID
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: The request could not be processed due to a validation
                    error.
                  summary: Bad Request
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_BAD_REQUEST
                    httpStatusCode: 400
                    message: The request could not be processed due to a validation
                      error.
                    errorDetails:
                    - issues:
                      - description: The request could not be processed due to a validation
                          error.
                        subject: header
                        source: x-generic-header
                      type: hpe.greenlake.bad_request
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  description: Resource not found.
                  summary: Not Found
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_NOT_FOUND
                    httpStatusCode: 404
                    message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "422":
          content:
            application/json:
              examples:
                Unassign orphans sensor error:
                  description: Unable to delete assignment - the assignment will leave
                    a sensor unconfigured.
                  summary: Unassign orphans sensor error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_DELETE_ORPHANS_SENSOR
                    httpStatusCode: 422
                    message: Unable to delete assignment - the assignment will leave
                      a sensor unconfigured.
                Inherited assignment deletion error:
                  description: Unable to delete assignment - an inherited assignment
                    cannot be deleted.
                  summary: Inherited assignment deletion error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_CANNOT_DELETE_INHERITED_ASSIGNMENT
                    httpStatusCode: 422
                    message: Unable to delete assignment - an inherited assignment
                      cannot be deleted.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Network Group Assignment Delete
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/network-group-assignments:
    get:
      description: Get a list of network group assignments.
      operationId: network_group_assignments_get
      parameters:
      - description: The ID of the resource.
        explode: true
        in: query
        name: id
        required: false
        schema:
          description: The ID of the resource.
          nullable: true
          title: ID
          type: string
        style: form
      - description: The next cursor for pagination.
        explode: true
        in: query
        name: next
        required: false
        schema:
          description: The next cursor for pagination.
          nullable: true
          title: Next
          type: string
        style: form
      - description: The maximum number of items returned in the response.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          description: The maximum number of items returned in the response.
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                List of network group assignments:
                  description: Network group assignment list retrieval.
                  summary: List of network group assignments
                  value:
                    items:
                    - id: 8419059c-1f4d-4cea-adf1-bd09654edba1
                      group:
                        id: 4gergsdgdf4tr
                      network:
                        id: bff985d7-ef1d-4d49-84d6-5e3ed345dda1
                      type: networking-uxi/network-group-assignment
                    count: 1
                    next: aGVsbG8gZnJvbSBhbGlzdGFpcg==
              schema:
                $ref: '#/components/schemas/NetworkGroupAssignmentsGetResponse'
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Malformed cursor:
                  description: The provided cursor could not be decoded.
                  summary: Malformed cursor
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_MALFORMED_CURSOR
                    httpStatusCode: 400
                    message: The provided cursor could not be decoded.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Network Group Assignments Get
      tags:
      - configuration
      x-stability-level: alpha
    post:
      description: Create a network group assignment.
      operationId: network_group_assignment_post
      requestBody:
        content:
          application/json:
            examples:
              Create a network group assignment:
                description: Create a network group assignment.
                summary: Create a network group assignment
                value:
                  groupId: dsfldjsah389
                  networkId: ssid-4gergsdgdf4tr
            schema:
              $ref: '#/components/schemas/NetworkGroupAssignmentPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Create a network group assignment:
                  description: Network group assignment successfully created.
                  summary: Create a network group assignment
                  value:
                    id: 90e79136-8c10-4732-9e2a-c928f39c03b8
                    group:
                      id: dsfldjsah389
                    network:
                      id: ssid-4gergsdgdf4tr
                    type: networking-uxi/network-group-assignment
              schema:
                $ref: '#/components/schemas/NetworkGroupAssignmentPostResponse'
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: The request could not be processed due to a validation
                    error.
                  summary: Bad Request
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_BAD_REQUEST
                    httpStatusCode: 400
                    message: The request could not be processed due to a validation
                      error.
                    errorDetails:
                    - issues:
                      - description: The request could not be processed due to a validation
                          error.
                        subject: header
                        source: x-generic-header
                      type: hpe.greenlake.bad_request
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              examples:
                Assignment already exists:
                  description: Resource already exists.
                  summary: Assignment already exists
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_CONFLICT
                    httpStatusCode: 409
                    message: Resource already exists.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Conflict
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "422":
          content:
            application/json:
              examples:
                Network does not exist:
                  description: Unable to assign network to group - the specified network
                    does not exist.
                  summary: Network does not exist
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_NETWORK_DOES_NOT_EXIST
                    httpStatusCode: 422
                    message: Unable to assign network to group - the specified network
                      does not exist.
                Group does not exist:
                  description: Unable to assign network to group - the specified group
                    does not exist.
                  summary: Group does not exist
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_GROUP_DOES_NOT_EXIST
                    httpStatusCode: 422
                    message: Unable to assign network to group - the specified group
                      does not exist.
                Assignment to root group error:
                  description: Unable to assign network to group - the specified group
                    is a root group.
                  summary: Assignment to root group error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_CANNOT_ASSIGN_NETWORK_TO_ROOT_GROUP
                    httpStatusCode: 422
                    message: Unable to assign network to group - the specified group
                      is a root group.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Network Group Assignment Post
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/sensor-group-assignments/{id}:
    delete:
      description: Delete the specified sensor group assignment
      operationId: sensor_group_assignment_delete
      parameters:
      - description: The unique identifier of the sensor group assignment
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of the sensor group assignment
          title: Assignment ID
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: The request could not be processed due to a validation
                    error.
                  summary: Bad Request
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_BAD_REQUEST
                    httpStatusCode: 400
                    message: The request could not be processed due to a validation
                      error.
                    errorDetails:
                    - issues:
                      - description: The request could not be processed due to a validation
                          error.
                        subject: header
                        source: x-generic-header
                      type: hpe.greenlake.bad_request
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                Not Found:
                  description: Resource not found.
                  summary: Not Found
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_NOT_FOUND
                    httpStatusCode: 404
                    message: Resource not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Sensor Group Assignment Delete
      tags:
      - configuration
      x-stability-level: alpha
  /networking-uxi/v1alpha1/sensor-group-assignments:
    get:
      description: Get a list of sensor group assignments.
      operationId: sensor_group_assignments_get
      parameters:
      - description: The ID of the resource.
        explode: true
        in: query
        name: id
        required: false
        schema:
          description: The ID of the resource.
          nullable: true
          title: ID
          type: string
        style: form
      - description: The next cursor for pagination.
        explode: true
        in: query
        name: next
        required: false
        schema:
          description: The next cursor for pagination.
          nullable: true
          title: Next
          type: string
        style: form
      - description: The maximum number of items returned in the response.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          description: The maximum number of items returned in the response.
          maximum: 100
          minimum: 0
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                List of sensor group assignments:
                  description: Sensor group assignment list retrieval.
                  summary: List of sensor group assignments
                  value:
                    items:
                    - id: 8419059c-1f4d-4cea-adf1-bd09654edba1
                      group:
                        id: 4gergsdgdf4tr
                      sensor:
                        id: bff985d7-ef1d-4d49-84d6-5e3ed345dda1
                      type: networking-uxi/sensor-group-assignment
                    count: 1
                    next: aGVsbG8gZnJvbSBhbGlzdGFpcg==
              schema:
                $ref: '#/components/schemas/SensorGroupAssignmentsGetResponse'
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Malformed cursor:
                  description: The provided cursor could not be decoded.
                  summary: Malformed cursor
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_NETWORKING_UXI_MALFORMED_CURSOR
                    httpStatusCode: 400
                    message: The provided cursor could not be decoded.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNAUTHORIZED
                    message: "You are not authorized to perform this action - the\
                      \ token is missing, expired, revoked, malformed, or invalid\
                      \ for other reasons"
                    httpStatusCode: 401
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                Forbidden:
                  description: The user has insufficient permissions to complete the
                    request.
                  summary: Forbidden
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_FORBIDDEN
                    httpStatusCode: 403
                    message: The user has insufficient permissions to complete the
                      request.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "405":
          content:
            application/json:
              examples:
                Method Not Allowed:
                  description: Method is not allowed.
                  summary: Method Not Allowed
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_METHOD_NOT_ALLOWED
                    httpStatusCode: 405
                    message: Method is not allowed.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                Unsupported Media Type:
                  description: Media type is unsupported.
                  summary: Unsupported Media Type
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_UNSUPPORTED_MEDIA_TYPE
                    httpStatusCode: 415
                    message: Media type is unsupported.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                Internal Server Error:
                  description: The request cannot be processed due to an unknown issue.
                  summary: Internal Server Error
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_INTERNAL_SERVER_ERROR
                    httpStatusCode: 500
                    message: The request cannot be processed due to an unknown issue.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - HTTPBearer: []
      summary: Sensor Group Assignments Get
      tags:
      - configuration
      x-stability-level: alpha
    post:
      description: Create a sensor group assignment.
      operationId: sensor_group_assignment_post
      requestBody:
        content:
          application/json:
            examples:
              Create a sensor group assignment:
                description: Create a sensor group assignment.
                summary: Create a sensor group assignment
                value:
                  groupId: dsfldjsah389
                  sensorId: sensor-4gergsdgdf4tr
            schema:
              $ref: '#/components/schemas/SensorGroupAssignmentPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Sensor group assignment created:
                  description: Sensor group assignment successfully created.
                  summary: Sensor group assignment created
                  value:
                    id: 90e79136-8c10-4732-9e2a-c928f39c03b8
                    group:
                      id: dsfldjsah389
                    sensor:
                      id: sensor-4gergsdgdf4tr
                    type: networking-uxi/sensor-group-assignment
              schema:
                $ref: '#/components/schemas/SensorGroupAssignmentPostResponse'
          description: Successful Response
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  description: The request could not be processed due to a validation
                    error.
                  summary: Bad Request
                  value:
                    debugId: "1234567890"
                    errorCode: HPE_GL_ERROR_BAD_REQUEST
                    httpStatusCode: 400
                    message: The request could not be processed due to a validation
                      error.
                    errorDetails:
                    - issues:
                      - description: The request could not be processed due to a validation
                          error.
                        subject: header
                        source: x-generic-header
                      type: hpe.greenlake.bad_request
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                Unauthorized:
                  value:
[...]
